@font-face
    font-family font-light
    font-style normal
    src url(../fonts/IBMPlexSans-Light.otf)

@font-face
    font-family font-bold
    font-style normal
    src url(../fonts/IBMPlexSans-Bold.otf)

@font-face
    font-family font-medium
    font-style normal
    src url(../fonts/IBMPlexSans-Medium.otf)

@font-face
    font-family font-regular
    font-style normal
    src url(../fonts/IBMPlexSans-Regular.otf)

@font-face
    font-family font-bolditalic
    font-style normal
    src url(../fonts/IBMPlexSans-BoldItalic.otf)

@font-face
    font-family font-text
    font-style normal
    src url(../fonts/IBMPlexSans-Text.otf)

section//1000999719012963753
    position relative

body
    background #FFF
    margin 0px
    font-family font-text
    overflow-x hidden
    position relative

input, select
    &:focus
        border-color inherit !important
        box-shadow none !important

.btn-vermasblue
    margin-top 12px
    display inline-block
    background #0f62fe
    color #fff
    font-size .9rem
    padding 5px 35px
    border-radius 20px
    text-decoration none
    font-family font-light
    &:hover
        color #FFF

.h5blue
    text-decoration none !important
    &:hover
        color #0f62fe

.botonFiltro
    font-weight 400
    color #fff
    border 1px solid #0f62fe
    border-radius 20px
    padding 5px 35px
    font-size 1.1rem
    margin 0 10px 10px
    transition .3s all
    cursor pointer
    &:hover
        background #0f62fe

.botonFiltro.active
    background #0f62fe

.text-bluebs
    color #0f62fe
    font-weight 500
    font-size 1rem

.rounded-4
    border-radius 1rem !important

.aepisode
    line-height 1.5

.textDatePost
    color #0f62fe

.phone_contact
    #drop_flags
        border 0
        &:focus
            border-color inherit !important
            box-shadow none !important
    .drop_flags
        border 1px solid #ced4da
        border-top-left-radius .25rem
        border-bottom-left-radius .25rem
        border-top-right-radius 0
        border-bottom-right-radius 0
        background #f8fafc
        border 0
        ul
            height 190px
            overflow-y overlay
            li
                button
                    display flex !important
                    padding 0.25rem .7rem
                    img
                        height 16px
                        margin-right 5px
                    p
                        margin 0
                        font-size .7rem
                        color #181B32
                        span
                            color #999
    #phone
        border-top-left-radius 0
        border-bottom-left-radius 0

#newsletter_modal
    .btn-close
        position absolute
        right 7px
        top 7px
        background transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat
    .modal-body
        background rgb(52,102,154)
        background linear-gradient(180deg, rgba(52,102,154,1) 0%, rgba(0,17,65,1) 79%)
        .content
            padding 10px 20px
            h1
                font-size 1.5rem
                color #fff
                text-align center
                margin-bottom 15px
            h3
                font-size 1.1rem
                color #fff
                text-align center
            input[type=text], input[type=password], textarea
                margin-bottom 0px

.header_mobile
    display none

.sec1
    transition .3s all
    .carousel-header
        #item_wizard
            height 30vh
            background-position center
            background-size cover
            background-repeat no-repeat
            position relative
            display flex
            align-items center
            justify-content center
            .text2
                text-align center
                p
                    font-family font-light
                    color #fff
                    font-size 1rem
                    margin 0
        #item_episode
            height 70vh
            background-position center
            background-size cover
            background-repeat no-repeat
            position relative
        #item_solution
            height 70vh
            background-position center
            background-size cover
            background-repeat no-repeat
            position relative
        #item_desktop
            height 92vh
            background-position center
            background-size cover
            background-repeat no-repeat
            position relative
        .text
            position absolute
            top 0
            bottom 0
            left 0
            margin auto
            height fit-content
            width 45%
            padding 0 50px
            h2
                font-family font-bold
                color #FFF
                font-size 2.5rem
                margin-bottom 20px
            p
                font-family font-light
                color #fff
                font-size 1rem
                margin-bottom 35px
            .btn1
                font-family font-light
                background #0F62FE
                color #FFF
                font-size 1rem
                padding 5px 35px
                border-radius 20px
    .slick-arrow
        &:before
            font-size 25px
    .slick-next
        right 12px
        z-index 9
    .slick-prev
        left 12px
        z-index 9

.sec2
    background-position center
    background-size cover
    background-repeat no-repeat
    background-image url(../images/bg2.png)
    padding 120px 0
    .content_all
        h2
            font-family font-light
            color #fff
            font-size 2rem
            text-align center
        p.p1
            font-family font-light
            color #fff
            font-size 1rem
            text-align center
            margin-bottom 60px
        .items
            display flex
            flex-wrap wrap
            .item
                width 20%
                padding 15px
                &:hover
                    .content
                        transform rotateY(180deg)
                        .cara
                            .image
                                display none
                            p
                                display none
                .content
                    transform-style preserve-3d
                    transition all .4s linear
                    background inherit
                    border-radius 10px
                    height 37vh
                    .cara
                        position absolute
                        backface-visibility hidden
                        height 100%
                        top 0
                        left 0
                        padding 0px
                        text-align center
                        border-radius 10px
                        z-index 9
                        width 100%
                        display flex
                        flex-direction column
                        align-items center
                        justify-content center
                        background rgb(15,98,254)
                        background -moz-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(165,110,255,1) 100%)
                        background -webkit-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(165,110,255,1) 100%)
                        background linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(165,110,255,1) 100%)
                        //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f62fe",endColorstr="#a56eff",GradientType=1);
                        .image
                            transition .5s all
                            img
                                width 130px
                                height auto
                        p
                            color #fff
                            font-family font-light
                            font-size 1rem
                            margin 20px 0 0
                            transition .5s all
                    .detras
                        background rgb(15,98,254)
                        background -moz-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(0,3,7,1) 100%)
                        background -webkit-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(0,3,7,1) 100%)
                        background linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(0,3,7,1) 100%)
                        //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f62fe",endColorstr="#000307",GradientType=1);
                        border-radius 10px
                        transform rotateY(180deg)
                        overflow hidden
                        height 99%
                        width 99%
                        padding 7px 15px 7px
                        display flex
                        flex-wrap wrap
                        align-content flex-start
                        flex-direction column
                        justify-content center
                        p
                            font-family font-light
                            font-size 1rem
                            color #FFF
                            margin 0
                            line-height 1.3
                        .btnvermas
                            margin-top 12px
                            display inline-block
                            font-family font-light
                            background #0F62FE
                            color #FFF
                            font-size .9rem
                            padding 5px 35px
                            border-radius 20px

.sec3
    padding 100px 0
    h2
        font-family font-light
        color #000
        font-size 2rem
        text-align center
        margin-bottom 50px
        padding 0 30%
    .bg_carousel
        background rgb(11,74,192)
        background -moz-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
        background -webkit-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
        background linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
        //filter progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b4ac0",endColorstr="#000000",GradientType=1)
        border-radius 150px
        padding 60px 20px
    .carousel-sec3
        .item
            margin 0 20px
            text-align center
            display flex
            flex-direction column
            justify-content space-between
            .image
                display inline-block
                a
                    img
                        height 70px
            p
                font-family font-medium
                font-size .9rem
                text-align center
                color #FFF
                margin 10px 0 0
                padding 0 10%
        .slick-prev:before, .slick-next:before
            color #FFF
            font-size 25px
        .slick-prev
            left 0
        .slick-next
            right 0
    p.text
        font-family font-light
        font-size 1rem
        color #000
        text-align center
        padding 0 20%
        margin 40px 0 0

.sec4
    background-position center
    background-size cover
    background-repeat no-repeat
    background-image url(../images/bg4.png)
    padding 180px 0
    .content_all
        text-align center
        h2
            font-family font-light
            color #fff
            font-size 2rem
            text-align center
            margin-bottom 50px
            padding 0 25%
        .carousel-sec4
            .item
                margin 0 20px
                text-align center
                .image
                    display inline-block
                    a
                        img
                            height 280px
                .text
                    display flex
                    flex-wrap wrap
                    align-items center
                    flex-direction column
                    img
                        height 25px
                        width auto
                        margin-bottom 10px
                    .p1
                        color #FFF
                        font-family font-bolditalic
                        font-size 1rem
                        margin 0
                    .p2
                        color #FFF
                        font-family font-light
                        font-size 1rem
                        margin 0
            .slick-arrow
                &:before
                    font-size 25px
            .slick-next
                right -10px
                z-index 9
            .slick-prev
                left -10px
                z-index 9
        p
            font-family font-light
            font-size 1rem
            color #FFF
            text-align center
            margin 60px 0 20px
        .btn4
            font-family font-light
            background #0F62FE
            color #FFF
            font-size 1rem
            padding 5px 35px
            border-radius 20px
.sec5
    padding 80px 0 150px
    background #000
    .content_all
        .nav-pills
            justify-content center
        button.nav-link
            font-family font-medium
            color #FFF
            border 1px solid #0F62FE
            border-radius 20px
            padding 5px 35px
            font-size 1rem
            margin 0 10px 10px
            transition .3s all
            &:hover
               background #0F62FE 
        button.nav-link.active
            background #0F62FE
        .tab-pane
            .items
                display flex
                flex-wrap wrap
                .item
                    width 33%
                    padding 20px
                    transition .3s all
                    border-radius 15px
                    &:hover
                        background #272C30
                    .image
                        background-position center
                        background-size cover
                        background-repeat no-repeat
                        height 250px
                        border-radius 15px
                    .tit
                        display flex
                        flex-wrap wrap
                        margin 20px 0
                        .autor
                            width 20%
                            padding-right 15px
                            img
                                width 100%
                                height auto
                        .text
                            width 80%
                            a
                                text-decoration none
                                font-family font-regular
                                font-size 1.2rem
                                color #fff
                                margin 0
                            .date
                                margin-top 30px
                                p
                                    font-size 1rem
                                    color #0F62FE
                                    font-family font-light
                                    margin 0
                .item_news
                    width 33%
                    padding 20px
                    transition .3s all
                    border-radius 15px
                    &:hover
                        background #272C30
                        .image
                            a.go
                                opacity 1
                    .image
                        background-position center
                        background-size cover
                        background-repeat no-repeat
                        height 250px
                        border-radius 15px
                        position relative
                        a.go
                            position absolute
                            bottom 14px
                            right 20px
                            transition .3s all
                            opacity 0
                            img
                                height 35px
                    .tit
                        display flex
                        flex-wrap wrap
                        margin 20px 0
                        .text
                            width 100%
                            p.date
                                font-size .9rem
                                color #0F62FE
                                font-family font-light
                                margin 0
                            a
                                text-decoration none
                                font-family font-regular
                                font-size 1.2rem
                                color #fff
                                margin 0

.sec5_2
    background #000
    padding 50px 0
    .content
        .items_link
            display flex
            flex-wrap wrap
            justify-content center
            margin 20px 0 20px
            a
                font-family font-bold
                text-decoration none
                display inline-block
                &:hover
                    color #FFF
            a.active
                background #0f62fe
        .items_ep
            display flex
            flex-wrap wrap
            justify-content flex-start
            .item
                display flex
                flex-wrap wrap
                flex-direction column
                padding 0 15px
                width 33%
                margin-top 40px
                .image
                    height 250px
                    background-position center
                    background-size cover
                    background-repeat no-repeat
                    position relative
                    border-radius 1rem
                    a
                        position absolute
                        height 100%
                        width 100%
                        top 0
                        left 0
                .content
                    display flex
                    flex-wrap wrap
                    margin-top 20px
                    .image
                        width 25%
                        height auto
                        img
                            width 100%
                            height auto
                    .text
                        width 75%
                        padding-left 15px
                        a
                            color #FFF
                            font-size 1rem
                            text-decoration none
                            line-height 1.3
                            display block
                            margin-bottom 15px
                        p
                            font-size .9rem
                            color rgb(52,144,220)
                            margin 0
                            line-height 1.3

.sec6_video
    background #21272A
    .content_video
        padding 0 0 40px
        iframe
            width 100%
            height 500px
    ul.nav-bar
        background #FFFFFF
        padding-top 8vh
        list-style none
        display flex
        flex-wrap wrap
        margin 0
        li
            padding 15px 30px 15px 0
            position relative
            &:after
                content '\203A'
                font-size 1.6rem
                color #A2A9B0
                position absolute
                right 10px
                top 0
                bottom 0
                margin auto
                height fit-content
            &:last-child
                &:after
                    content ''
                    display none
            a
                text-decoration none
                font-family font-text
                color #000
                font-size .9rem
            .active
                color #A2A9B0
    .carousel-header
        .item
            height 65vh
            background-position center
            background-size cover
            background-repeat no-repeat
            position relative
            .text
                position absolute
                top 0
                bottom 0
                right 0
                left 0
                margin auto
                height fit-content
                width 60%
                padding 0 50px
                h2
                    font-family font-bold
                    color #FFF
                    font-size 2.5rem
                    margin-bottom 20px
                    text-align center
    .slick-next
        right 10px
        z-index 9
    .slick-prev
        left 10px
        z-index 9

.sec6
    background #000
    padding 80px 0
    .content_all
        display flex
        flex-wrap wrap
        justify-content space-between
        .content_left
            width 60%
            hr
                color #21272A
                opacity 1
            h2
                font-family font-regular
                color #fff
                font-size 1.7rem
                margin 25px 0
            .video_detail
                display flex
                flex-wrap wrap
                align-items center
                justify-content space-between
                .autor
                    display flex
                    flex-wrap wrap
                    align-items center
                    img
                        width 40px
                    p
                        color #fff
                        margin 0
                        font-family font-light
                        font-size 1rem
                        padding-left 15px
                .share
                    display flex
                    flex-wrap wrap
                    .btn-share
                        background #333333
                        font-size 1rem
                        padding 5px 27px
                        border-radius 20px
                        font-family font-regular
                        color #FFF
                        img
                            margin-right 8px
                            height 20px
                    .redes
                        margin 0 5px
                        img
                            height 37px
            .video_detail2
                display flex
                flex-wrap wrap
                align-items center
                margin-bottom 10px
                p
                    color #fff
                    margin 0
                    font-family font-light
                    font-size 1rem
                .share
                    display flex
                    flex-wrap wrap
                    margin-left 10px
                    .redes
                        margin 0 5px
                        img
                            height 37px
            .text_detail
                margin-top 40px
                p
                    font-family font-light
                    color #FFF
                    font-size 1rem
        .line
            width 10%
            display flex
            justify-content center
            .blue_line
                width 1px
                height 100%
                background #0F62FE
        .content_right
            width 30%
            h2
                font-family font-regular
                font-size 1.2rem
                color #fff
                margin 0 0 40px
            hr
                background #0F62FE
                width 100%
                opacity 1
                margin 60px 0 60px
            .video
                display flex
                flex-wrap wrap
                align-items center
                margin-bottom 30px
                .image
                    width 45%
                    background-position center
                    background-size cover
                    background-repeat no-repeat
                    height 120px
                    border-radius 15px
                .text
                    width 55%
                    padding-left 15px
                    a
                        text-decoration none
                        font-family font-regular
                        color #fff
                        font-size 1rem
                    p.name
                        color #0F62FE
                        font-family font-medium
                        font-size 1rem
                        margin 0 0 8px
                    p.new
                        padding 3px 20px
                        background #0F62FE
                        margin 0
                        font-size 1rem
                        font-family font-light
                        color #FFF
                        display inline
                        border-radius 15px

.sec7
    padding 20px 0 0 !important
    background #000
    .contactform
        #wizard
            input, select
                border 0 !important
    .content_all
        .nav-pills
            justify-content center
            margin-bottom 20px
        button.nav-link
            font-family font-medium
            color #FFF
            border 1px solid #0F62FE
            border-radius 20px
            padding 5px 35px
            font-size 1.1rem
            margin 0 10px 10px
            transition .3s all
            &:hover
               background #0F62FE 
        button.nav-link.active
            background #0F62FE
        .tab-pane
            margin-top 40px
            .items
                display flex
                flex-wrap wrap
                .item
                    width 25%
                    padding 20px
                    transition .3s all
                    .text
                        background #FFF
                        border-radius 15px
                        padding 20px 15px
                        h2
                            font-family font-bold
                            font-size 1rem
                            color #0F62FE
                        p
                            color #000
                            font-family font-light
                            font-size .9rem
                        a.btn-go
                            display flex
                            justify-content flex-end
                            opacity 0
                            transition .3s all
                            img
                                height 27px
                    &:hover
                        background #272C30
                        border-radius 15px
                        a.btn-go
                            opacity 1
            .item_old
                display flex
                flex-wrap wrap
                justify-content center
                align-items center
                background rgb(10,73,195)
                background -moz-linear-gradient(90deg, rgba(10,73,195,1) 0%, rgba(0,17,65,1) 100%)
                background -webkit-linear-gradient(90deg, rgba(10,73,195,1) 0%, rgba(0,17,65,1) 100%)
                background linear-gradient(90deg, rgba(10,73,195,1) 0%, rgba(0,17,65,1) 100%)
                //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a49c3",endColorstr="#001141",GradientType=1);
                .image
                    width 40%
                    text-align center
                    img
                        height 400px
                .text
                    width 40%
                    p
                        font-family font-light
                        color #FFF
                        font-size 1rem
                        margin 0

.sec8
    background #000
    padding 0px 0 80px
    .content_all
        .items
            display flex
            flex-wrap wrap
            .item
                width 25%
                padding 20px
                transition .3s all
                .text
                    background #FFF
                    border-radius 15px
                    padding 20px 15px
                    h2
                        font-family font-bold
                        font-size 1rem
                        color #0F62FE
                    p
                        color #000
                        font-family font-light
                        font-size .9rem
                    a.btn-go
                        display flex
                        justify-content flex-end
                        opacity 0
                        transition .3s all
                        img
                            height 27px
                &:hover
                    background #272C30
                    border-radius 15px
                    a.btn-go
                        opacity 1

.sec9
    background #FFF
    padding 80px 0
    .content_all
        display flex
        flex-wrap wrap
        justify-content space-between
        .content_left
            width 55%
            h2
                font-family font-medium
                color #000
                font-size 1.5rem
                margin-bottom 25px
            .text
                p
                    font-family font-text
                    font-size 1rem
                    color #000
            .items
                display flex
                flex-wrap wrap
                justify-content center
                margin-top 40px
                .item
                    padding 10px
                    width 25%
                    .image
                        text-align center
                        img
                            height 70px
                            width auto
                    p
                        font-family font-light
                        font-size .9rem
                        color #000
                        margin 0
                        text-align center
        .content_right
            width 40%
            padding 50px 60px
            background-image url(../images/bg_form.jpg)
            background-position center
            background-repeat no-repeat
            background-size cover
            border-radius 20px
            h2
                font-family font-medium
                font-size 1.7rem
                color #FFF
                text-align center
                margin-bottom 20px
            .text-center
                display flex
                height 100%
                align-items center
                justify-content center
                flex-direction column
                a.btn-vermasblue
                    font-size 1.1rem
            form
                label
                    color #FFF
                    font-family font-regular
                    font-size .9rem
                    margin-bottom 8px
                input
                    background #F2F4F8
                    border none
                    border-radius 15px
                    margin-bottom 30px
                    font-size .9rem
                    color #4D5358
                    font-family font-regular
                select
                    border none
                    border-radius 15px
                    margin-bottom 30px
                    font-size .9rem
                    color #4D5358
                    font-family font-regular
                .btn-enviar
                    font-family font-regular
                    color #FFF
                    font-size .9rem
                    background transparent
                    font-size 1rem
                    padding 5px 35px
                    border-radius 20px
                    border 1px solid #FFF
                    margin-top 20px
                    transition .3s all
                    &:hover
                        background #0f62fe
                        color #FFF
                        border 1px solid #0f62fe

.sec10
    padding-bottom 60px
    .infografia
        background-position center
        background-size cover
        background-repeat no-repeat
        position relative
        background-image url(../images/bg_infografia.jpg)
        display flex
        flex-wrap wrap
        justify-content center
        height 100px
        a
            font-family font-medium
            color #fff
            font-size 1.2rem
            display flex
            flex-wrap wrap
            align-items center
            text-decoration none
            img
                margin-left 12px
                height 20px
    .podcast
        background-position center
        background-size cover
        background-repeat no-repeat
        position relative
        background-image url(../images/bg_podcast.jpg)
        display flex
        flex-wrap wrap
        justify-content center
        flex-direction column
        align-items center
        height 280px
        img
            height 23px
            margin-bottom 8px
        h3
            font-family font-medium
            color #fff
            font-size 1.2rem
            margin-bottom 30px
        p
            font-family font-light
            color #fff
            font-size 1rem
            padding 0 35%
            text-align center
            margin 0

.sec11
    background #FFF
    padding 80px 0
    .content_all
        display flex
        flex-wrap wrap
        justify-content space-between
        .content_left
            width 60%
            h2
                font-family font-medium
                color #00
                font-size 1.7rem
                margin 25px 0
            .text_detail
                margin-top 40px
                p
                    font-family font-light
                    color #000
                    font-size 1rem
        .content_right
            width 30%
            h2
                font-family font-regular
                font-size 1.2rem
                color #000
                margin 0 0 40px
            .contactform
                width 100%
                padding 50px 30px
                background-image url(../images/bg_form.jpg)
                background-position center
                background-repeat no-repeat
                background-size cover
                border-radius 20px
                margin-top 20px
            .video
                display flex
                flex-wrap wrap
                align-items center
                margin-bottom 30px
                .image
                    width 45%
                    background-position center
                    background-size cover
                    background-repeat no-repeat
                    height 120px
                    border-radius 15px
                .text
                    width 55%
                    padding-left 15px
                    a
                        text-decoration none
                        font-family font-regular
                        color #000
                        font-size 1rem
                    p.date
                        color #0F62FE
                        font-family font-medium
                        font-size .9rem
                        margin 0 0 5px

.sec12
    background rgb(11,74,192)
    background -moz-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
    background -webkit-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
    background linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b4ac0",endColorstr="#000000",GradientType=1)
    padding 20vh 0 50px
    .content
        .text
            text-align center
            h2
                font-family font-regular
                font-size 2rem
                color #FFF
            h3
                font-family font-regular !important
                font-size 1.8rem !important
                color #FFF !important
                p
                    font-size 1.8rem !important
                    color #FFF
                    font-family font-regular !important
            p
                font-family font-text
                font-size 1rem
                color #FFF
            .buttons
                display flex
                flex-wrap wrap
                justify-content center
                margin-top 40px
                a
                    margin 0 7px
                .btn-download
                    display inline-block
                    font-family font-light
                    background #0F62FE
                    color #FFF
                    font-size .9rem
                    padding 5px 35px
                    border-radius 20px
                .btn-back
                    display inline-block
                    font-family font-light
                    background #FFF
                    color #000
                    font-size .9rem
                    padding 5px 35px
                    border-radius 20px
            .buttons2
                align-items center
                flex-direction column

.sec12_2
    background-image url('../images/wizard_thanks.jpg')
    background-position top
    background-size cover
    background-repeat no-repeat
    padding 20vh 0 120px
    position relative
    .cover_bg
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background rgba(0, 0, 0, .4)
    .content
        position relative
        z-index 2
        .text
            text-align center
            h2
                font-family font-regular
                font-size 2rem
                color #FFF
            h3
                font-family font-regular !important
                font-size 1.9rem !important
                color #FFF !important
                p
                    font-size 1.8rem !important
                    color #FFF
                    font-family font-regular !important
            p
                font-family font-text
                font-size 1rem
                color #FFF
            .buttons
                display flex
                flex-wrap wrap
                justify-content center
                margin-top 40px
                a
                    margin 0 7px
                .btn-download
                    display inline-block
                    font-family font-light
                    background #0F62FE
                    color #FFF
                    font-size 1.2rem
                    padding 5px 35px
                    border-radius 20px
                .btn-back
                    display inline-block
                    font-family font-light
                    background #FFF
                    color #000
                    font-size .9rem
                    padding 5px 35px
                    border-radius 20px
            .buttons2
                align-items center
                flex-direction column

.sec12_3
    background #000
    padding-top 60px
    .items
        .item
            display flex
            flex-wrap wrap
            flex-direction column
            padding 0 15px
            .image
                height 250px
                background-position center
                background-size cover
                background-repeat no-repeat
                position relative
                border-radius 1rem
                a
                    position absolute
                    height 100%
                    width 100%
                    top 0
                    left 0
            .content
                display flex
                flex-wrap wrap
                margin-top 20px
                .image
                    width 25%
                    img
                        width 100%
                        height auto
                .text
                    width 75%
                    padding-left 15px
                    a
                        color #FFF
                        font-size 1rem
                        text-decoration none
                        line-height 1.3
                        display block
                        margin-bottom 15px
                    p
                        font-size .9rem
                        color rgb(52,144,220)
                        margin 0
                        line-height 1.3
        .slick-arrow
            &:before
                font-size 30px
        .slick-next
            right -20px
            z-index 9
        .slick-prev
            left -20px
            z-index 9

.sec13
    .contactform
        width 100%
        padding 50px 30px
        background-image url(../images/bg_form.jpg)
        background-position center
        background-repeat no-repeat
        background-size cover
        border-radius 20px
        margin-top 20px

.footer
    background rgb(8,54,145)
    background -moz-linear-gradient(0deg, rgba(8,54,145,1) 0%, rgba(0,2,15,1) 91%)
    background -webkit-linear-gradient(0deg, rgba(8,54,145,1) 0%, rgba(0,2,15,1) 91%)
    background linear-gradient(0deg, rgba(8,54,145,1) 0%, rgba(0,2,15,1) 91%)
    //filter progid:DXImageTransform.Microsoft.gradient(startColorstr="#083691",endColorstr="#00020f",GradientType=1)
    padding 50px 0
    .content_left
        img
            height 200px
            width auto
    .content_right
        .links
            display flex
            flex-wrap wrap
            justify-content flex-end
            a
                font-size .9rem
                font-family font-light
                text-decoration none
                color #FFF
            .separator
                font-size 1rem
                font-family font-light
                text-decoration none
                color #FFF
                padding 0 20px
            hr
                width 100%
                color #fff
                opacity 1
                margin 25px 0
        .social
            display flex
            flex-wrap wrap
            justify-content flex-end
            a
                text-decoration none
                padding 0 10px
                img
                    width 22px
                    height auto

@media screen and (max-width: 1024px)

    .sec5
        .contitems
            .card-body
                padding-left 0
                padding-right 0
                h5.card-title
                    line-height 1.2 !important
                    font-size 1rem !important
                p.card-text
                    line-height 1.2 !important
                    font-size 1rem !important

    .navbar-brand
        margin-right 0
    
    .sec1
        
        .carousel-header
            #item_wizard
                margin-top 10vh
            .text
                position absolute
                top 0
                bottom 0
                left 0
                margin auto
                height fit-content
                width 100%
                padding 0 35px
                h2
                    font-family font-bold
                    color #FFF
                    font-size 1.5rem
                    margin-bottom 20px
                p
                    font-family font-light
                    color #fff
                    font-size 1rem
                    margin-bottom 40px
                .btn1
                    font-family font-light
                    background #0F62FE
                    color #FFF
                    font-size 1rem
                    padding 5px 35px
                    border-radius 20px
        .slick-next
            right 7px
            z-index 9
        .slick-prev
            left 7px
            z-index 9

    .sec2
        background-position center
        background-size cover
        background-repeat no-repeat
        background-image url(../images/bg2.png)
        padding 80px 0 80px
        .content_all
            h2
                font-family font-light
                color #fff
                font-size 1.5rem
                text-align center
            p.p1
                font-family font-light
                color #fff
                font-size 1rem
                text-align center
                margin-bottom 60px
            .items
                display flex
                flex-wrap wrap
                .item
                    width 100%
                    padding 15px
                    &:hover
                        .content
                            transform rotateY(180deg)
                    .content
                        transform-style preserve-3d
                        transition all .4s linear
                        background inherit
                        border-radius 10px
                        height 35vh
                        .cara
                            position absolute
                            backface-visibility hidden
                            height 100%
                            top 0
                            left 0
                            padding 0px
                            text-align center
                            border-radius 10px
                            z-index 9
                            width 100%
                            display flex
                            flex-direction column
                            align-items center
                            justify-content center
                            background rgb(15,98,254)
                            background -moz-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(165,110,255,1) 100%)
                            background -webkit-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(165,110,255,1) 100%)
                            background linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(165,110,255,1) 100%)
                            //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f62fe",endColorstr="#a56eff",GradientType=1);
                            .image
                                img
                                    width 65%
                                    height auto
                            p
                                color #fff
                                font-family font-light
                                font-size 1rem
                                margin 20px 0 0
                        .detras
                            background rgb(15,98,254)
                            background -moz-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(0,3,7,1) 100%)
                            background -webkit-linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(0,3,7,1) 100%)
                            background linear-gradient(0deg, rgba(15,98,254,1) 0%, rgba(0,3,7,1) 100%)
                            //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f62fe",endColorstr="#000307",GradientType=1);
                            border-radius 10px
                            transform rotateY(180deg)
                            overflow hidden
                            height 99%
                            width 99%
                            padding 7px 15px 7px
                            display flex
                            flex-wrap wrap
                            align-content flex-start
                            flex-direction column
                            justify-content center
                            p
                                font-family font-light
                                font-size 1rem
                                color #FFF
                                margin 0
                            .btnvermas
                                margin-top 12px
                                display inline-block
                                font-family font-light
                                background #0F62FE
                                color #FFF
                                font-size 1rem
                                padding 5px 35px
                                border-radius 20px

    .sec3
        padding 100px 0
        h2
            font-family font-light
            color #000
            font-size 1.5rem
            text-align center
            margin-bottom 50px
            padding 0 0%
        .bg_carousel
            background rgb(11,74,192)
            background -moz-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
            background -webkit-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
            background linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
            //filter progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b4ac0",endColorstr="#000000",GradientType=1)
            border-radius 50px
            padding 60px 20px
        .carousel-sec3
            .item
                margin 0 20px
                text-align center
                .image
                    display inline-block
                    img
                        height 85px
                p
                    font-family font-medium
                    font-size 1rem
                    text-align center
                    color #FFF
                    margin 10px 0 0
                    padding 0 10%
            .slick-prev:before, .slick-next:before
                color #FFF
            .slick-prev
                left 0
            .slick-next
                right 0
        p.text
            font-family font-light
            font-size 1rem
            color #000
            text-align center
            padding 0 10px
            margin 40px 0 0

    .sec4
        background-position center
        background-size cover
        background-repeat no-repeat
        background-image url(../images/bg4.png)
        padding 80px 0
        .content_all
            text-align center
            h2
                font-family font-light
                color #fff
                font-size 1.5rem
                text-align center
                margin-bottom 10px
                padding 0 0%
            .carousel-sec4
                .item
                    margin 0 20px
                    text-align center
                    .image
                        display flex
                        justify-content center
                        margin-bottom 0px
                        margin-top 60px
                        img
                            height auto
                            width 100%
                    .text
                        display flex
                        flex-wrap wrap
                        align-items center
                        flex-direction column
                        img
                            height 15px
                            width auto
                            margin-bottom 10px
                        .p1
                            color #FFF
                            font-family font-bolditalic
                            font-size 1rem
                            margin 0
                        .p2
                            color #FFF
                            font-family font-light
                            font-size 1rem
                            margin 0
                .slick-prev:before, .slick-next:before
                    color #FFF
                .slick-next
                    right 0
                .slick-prev
                    left 0
            p
                font-family font-light
                font-size 1rem
                color #FFF
                text-align center
                margin 60px 0 20px
            .btn4
                font-family font-light
                background #0F62FE
                color #FFF
                font-size 1rem
                padding 5px 35px
                border-radius 20px

    .sec5
        padding 50px 0 50px
        background #000
        .content_all
            .nav-pills
                justify-content center
            button.nav-link
                font-family font-medium
                color #FFF
                border 1px solid #0F62FE
                border-radius 20px
                padding 5px 35px
                font-size 1rem
                margin 0 10px 10px
                transition .3s all
                &:hover
                    background #0F62FE 
            button.nav-link.active
                background #0F62FE
            .nav-item
                margin-bottom 20px !important
            .tab-pane
                .items
                    display flex
                    flex-wrap wrap
                    .item
                        width 100%
                        padding 20px
                        transition .3s all
                        border-radius 15px
                        &:hover
                            background #272C30
                        .image
                            background-position center
                            background-size cover
                            background-repeat no-repeat
                            height 250px
                            border-radius 15px
                        .tit
                            display flex
                            flex-wrap wrap
                            margin 20px 0
                            .autor
                                width 20%
                                padding-right 15px
                                img
                                    width 100%
                                    height auto
                            .text
                                width 80%
                                a
                                    text-decoration none
                                    font-family font-regular
                                    font-size 1rem
                                    color #fff
                                    margin 0
                                .date
                                    margin-top 30px
                                    p
                                        font-size 1rem
                                        color #0F62FE
                                        font-family font-light
                                        margin 0
                    .item_news
                        width 100%
                        padding 20px
                        transition .3s all
                        border-radius 15px
                        &:hover
                            background #272C30
                            .image
                                a.go
                                    opacity 1
                        .image
                            background-position center
                            background-size cover
                            background-repeat no-repeat
                            height 250px
                            border-radius 15px
                            position relative
                            a.go
                                position absolute
                                bottom 14px
                                right 20px
                                transition .3s all
                                opacity 0
                                img
                                    height 35px
                        .tit
                            display flex
                            flex-wrap wrap
                            margin 20px 0
                            .text
                                width 100%
                                p.date
                                    font-size .9rem
                                    color #0F62FE
                                    font-family font-light
                                    margin 0
                                a
                                    text-decoration none
                                    font-family font-regular
                                    font-size 1.2rem
                                    color #fff
                                    margin 0
        .card-body
            height 100px !important

    .sec6_video
        background #21272A
        .content_video
            padding 0 0 10px
            iframe
                width 100%
                height auto
        ul.nav-bar
            background #FFFFFF
            padding 11vh 15px 10px
            list-style none
            display flex
            flex-wrap wrap
            margin 0
            li
                padding 10px 30px 0px 0
                position relative
                &:after
                    content '\203A'
                    font-size 1.6rem
                    color #A2A9B0
                    position absolute
                    right 10px
                    top 0
                    bottom 0
                    margin auto
                    height fit-content
                &:last-child
                    &:after
                        content ''
                        display none
                a
                    text-decoration none
                    font-family font-text
                    color #000
                    font-size .9rem
                .active
                    color #A2A9B0
        .carousel-header
            .item
                height 40vh
                background-position center
                background-size cover
                background-repeat no-repeat
                position relative
                .text
                    position absolute
                    top 0
                    bottom 0
                    right 0
                    left 0
                    margin auto
                    height fit-content
                    width 90%
                    padding 0 0px
                    h2
                        font-family font-bold
                        color #FFF
                        font-size 1.5rem
                        margin-bottom 20px
                        text-align center
        .slick-next
            right 10px
            z-index 9
        .slick-prev
            left 10px
            z-index 9

    .sec6
        background #000
        padding 30px 0 30px
        .content_all
            display flex
            flex-wrap wrap
            justify-content space-between
            .content_left
                width 100%
                hr
                    color #21272A
                    opacity 1
                h2
                    font-family font-regular
                    color #fff
                    font-size 1.5rem
                    margin 25px 0
                .video_detail
                    display flex
                    flex-wrap wrap
                    align-items center
                    justify-content space-between
                    .autor
                        display flex
                        flex-wrap wrap
                        align-items center
                        img
                            width 40px
                        p
                            color #fff
                            margin 0
                            font-family font-light
                            font-size 1rem
                            padding-left 15px
                    .share
                        display flex
                        flex-wrap wrap
                        .btn-share
                            background #333333
                            font-size 1rem
                            padding 5px 27px
                            border-radius 20px
                            font-family font-regular
                            color #FFF
                            margin-top 10px
                            img
                                margin-right 8px
                                height 20px
                        .redes
                            margin 0 5px
                            img
                                height 37px
                .video_detail2
                    display flex
                    flex-wrap wrap
                    align-items center
                    margin-bottom 10px
                    p
                        color #fff
                        margin 0
                        font-family font-light
                        font-size 1rem
                    .share
                        display flex
                        flex-wrap wrap
                        margin-left 10px
                        .redes
                            margin 0 5px
                            img
                                height 37px
                .text_detail
                    margin-top 40px
                    p
                        font-family font-light
                        color #FFF
                        font-size 1rem
            .line
                width 10%
                display flex
                justify-content center
                .blue_line
                    width 1px
                    height 100%
                    background #0F62FE
            .content_right
                width 100%
                margin-top 30px
                h2
                    font-family font-regular
                    font-size 1.2rem
                    color #fff
                    margin 0 0 40px
                hr
                    background #0F62FE
                    width 100%
                    opacity 1
                    margin 60px 0 60px
                .video
                    display flex
                    flex-wrap wrap
                    align-items center
                    margin-bottom 30px
                    .image
                        width 45%
                        background-position center
                        background-size cover
                        background-repeat no-repeat
                        height 120px
                        border-radius 15px
                    .text
                        width 55%
                        padding-left 15px
                        a
                            text-decoration none
                            font-family font-regular
                            color #fff
                            font-size 1rem
                        p.name
                            color #0F62FE
                            font-family font-medium
                            font-size 1rem
                            margin 0 0 8px
                        p.new
                            padding 3px 20px
                            background #0F62FE
                            margin 0
                            font-size 1rem
                            font-family font-light
                            color #FFF
                            display inline
                            border-radius 15px

    .sec7
        padding 80px 0 70px
        background #000
        .content_all
            .nav-pills
                justify-content center
                margin-bottom 20px
            button.nav-link
                font-family font-medium
                color #FFF
                border 1px solid #0F62FE
                border-radius 20px
                padding 5px 35px
                font-size 1.1rem
                margin 0 10px 10px
                transition .3s all
                &:hover
                    background #0F62FE 
            button.nav-link.active
                background #0F62FE
            .tab-pane
                margin-top 40px
                .items
                    display flex
                    flex-wrap wrap
                    .item
                        width 100%
                        padding 20px
                        transition .3s all
                        .text
                            background #FFF
                            border-radius 15px
                            padding 20px 15px
                            h2
                                font-family font-bold
                                font-size 1rem
                                color #0F62FE
                            p
                                color #000
                                font-family font-light
                                font-size .9rem
                            a.btn-go
                                display flex
                                justify-content flex-end
                                opacity 0
                                transition .3s all
                                img
                                    height 27px
                        &:hover
                            background #272C30
                            border-radius 15px
                            a.btn-go
                                opacity 1
                .item_old
                    display flex
                    flex-wrap wrap
                    justify-content center
                    align-items center
                    background rgb(10,73,195)
                    background -moz-linear-gradient(90deg, rgba(10,73,195,1) 0%, rgba(0,17,65,1) 100%)
                    background -webkit-linear-gradient(90deg, rgba(10,73,195,1) 0%, rgba(0,17,65,1) 100%)
                    background linear-gradient(90deg, rgba(10,73,195,1) 0%, rgba(0,17,65,1) 100%)
                    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a49c3",endColorstr="#001141",GradientType=1);
                    .image
                        width 40%
                        text-align center
                        img
                            height 400px
                    .text
                        width 40%
                        p
                            font-family font-light
                            color #FFF
                            font-size 1rem
                            margin 0

    .sec8
        background #000
        padding 0px 0 80px
        .content_all
            .items
                display flex
                flex-wrap wrap
                .item
                    width 25%
                    padding 20px
                    transition .3s all
                    .text
                        background #FFF
                        border-radius 15px
                        padding 20px 15px
                        h2
                            font-family font-bold
                            font-size 1rem
                            color #0F62FE
                        p
                            color #000
                            font-family font-light
                            font-size .9rem
                        a.btn-go
                            display flex
                            justify-content flex-end
                            opacity 0
                            transition .3s all
                            img
                                height 27px
                    &:hover
                        background #272C30
                        border-radius 15px
                        a.btn-go
                            opacity 1

    .sec9
        background #FFF
        padding 50px 0 50px
        .content_all
            display flex
            flex-wrap wrap
            justify-content space-between
            .content_left
                width 100%
                h2
                    font-family font-medium
                    color #000
                    font-size 1.5rem
                    margin-bottom 25px
                .text
                    p
                        font-family font-text
                        font-size 1rem
                        color #000
                .items
                    display flex
                    flex-wrap wrap
                    justify-content center
                    margin-top 40px
                    .item
                        padding 10px
                        width 50%
                        .image
                            text-align center
                            img
                                height 70px
                                width auto
                        p
                            font-family font-light
                            font-size 1rem
                            color #000
                            margin 0
                            text-align center
            .content_right
                width 100%
                padding 50px 30px
                background-image url(../images/bg_form.jpg)
                background-position center
                background-repeat no-repeat
                background-size cover
                border-radius 20px
                margin-top 20px
                h2
                    font-family font-medium
                    font-size 1.5rem
                    color #FFF
                    text-align center
                    margin-bottom 20px
                form
                    label
                        color #FFF
                        font-family font-regular
                        font-size 1rem
                        margin-bottom 8px
                    input
                        background #F2F4F8
                        border none
                        border-radius 15px
                        margin-bottom 30px
                        font-size 1rem
                        color #4D5358
                        font-family font-regular
                    select
                        border none
                        border-radius 15px
                        margin-bottom 30px
                        font-size .9rem
                        color #4D5358
                        font-family font-regular
                    .btn-enviar
                        font-family font-regular
                        color #FFF
                        font-size .9rem
                        background transparent
                        font-size 1rem
                        padding 5px 35px
                        border-radius 20px
                        border 1px solid #FFF
                        margin-top 20px
                        transition .3s all
                        &:hover
                            background #0f62fe
                            color #FFF
                            border 1px solid #0f62fe

    .sec10
        padding-bottom 60px
        .infografia
            background-position center
            background-size cover
            background-repeat no-repeat
            position relative
            background-image url(../images/bg_infografia.jpg)
            display flex
            flex-wrap wrap
            justify-content center
            height auto
            padding 20px 0
            a
                font-family font-medium
                color #fff
                font-size 1rem
                display flex
                flex-wrap wrap
                align-items center
                text-decoration none
                img
                    margin-left 12px
                    height 20px
        .podcast
            background-position center
            background-size cover
            background-repeat no-repeat
            position relative
            background-image url(../images/bg_podcast.jpg)
            display flex
            flex-wrap wrap
            justify-content center
            flex-direction column
            align-items center
            height auto
            padding 20px 0
            img
                height 23px
                margin-bottom 8px
            h3
                font-family font-medium
                color #fff
                font-size 1.2rem
                margin-bottom 30px
            p
                font-family font-light
                color #fff
                font-size 1rem
                padding 0 20px
                text-align center
                margin 0

    .sec11
        background #FFF
        padding 40px 0 40px
        .content_all
            display flex
            flex-wrap wrap
            justify-content space-between
            .content_left
                width 100%
                h2
                    font-family font-medium
                    color #00
                    font-size 1.2rem
                    margin 25px 0
                .text_detail
                    margin-top 40px
                    p
                        font-family font-light
                        color #000
                        font-size 1rem
            .content_right
                width 100%
                margin-top 30px
                h2
                    font-family font-regular
                    font-size 1.2rem
                    color #000
                    margin 0 0 40px
                .video
                    display flex
                    flex-wrap wrap
                    align-items center
                    margin-bottom 30px
                    .image
                        width 45%
                        background-position center
                        background-size cover
                        background-repeat no-repeat
                        height 120px
                        border-radius 15px
                    .text
                        width 55%
                        padding-left 15px
                        a
                            text-decoration none
                            font-family font-regular
                            color #000
                            font-size 1rem
                        p.date
                            color #0F62FE
                            font-family font-medium
                            font-size 1rem
                            margin 0 0 5px

    .sec12
        background rgb(11,74,192)
        background -moz-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
        background -webkit-linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
        background linear-gradient(0deg, rgba(11,74,192,1) 0%, rgba(0,0,0,1) 85%)
        //filter progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b4ac0",endColorstr="#000000",GradientType=1)
        padding 20vh 0 50px
        .content
            .text
                text-align center
                h2
                    font-family font-regular
                    font-size 2rem
                    color #FFF
                p
                    font-family font-text
                    font-size 1rem
                    color #FFF
                .buttons
                    display flex
                    flex-wrap wrap
                    justify-content center
                    margin-top 40px
                    flex-direction column
                    align-items center
                    a
                        margin 0 7px 10px
                    .btn-download
                        display inline-block
                        font-family font-light
                        background #0F62FE
                        color #FFF
                        font-size .9rem
                        padding 5px 35px
                        border-radius 20px
                    .btn-back
                        display inline-block
                        font-family font-light
                        background #FFF
                        color #000
                        font-size .9rem
                        padding 5px 35px
                        border-radius 20px

    .sec12_2
        background-image url('../images/wizard_thanks.jpg')
        background-position top
        background-size cover
        background-repeat no-repeat
        padding 20vh 0 120px
        position relative
        .cover_bg
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(0, 0, 0, .4)
        .content
            position relative
            z-index 2
            .text
                text-align center
                h2
                    font-family font-regular
                    font-size 2rem
                    color #FFF
                h3
                    font-family font-regular !important
                    font-size 1.9rem !important
                    color #FFF !important
                    p
                        font-size 1.8rem !important
                        color #FFF
                        font-family font-regular !important
                p
                    font-family font-text
                    font-size 1rem
                    color #FFF
                .buttons
                    display flex
                    flex-wrap wrap
                    justify-content center
                    margin-top 40px
                    a
                        margin 0 7px
                    .btn-download
                        display inline-block
                        font-family font-light
                        background #0F62FE
                        color #FFF
                        font-size 1.2rem
                        padding 5px 35px
                        border-radius 20px
                    .btn-back
                        display inline-block
                        font-family font-light
                        background #FFF
                        color #000
                        font-size .9rem
                        padding 5px 35px
                        border-radius 20px
                .buttons2
                    align-items center
                    flex-direction column

    .sec12_3
        background #000
        padding-top 60px
        .items
            .item
                display flex
                flex-wrap wrap
                flex-direction column
                padding 0 25px
                .image
                    height 190px
                    background-position center
                    background-size cover
                    background-repeat no-repeat
                    position relative
                    border-radius 1rem
                    a
                        position absolute
                        height 100%
                        width 100%
                        top 0
                        left 0
                .content
                    display flex
                    flex-wrap wrap
                    margin-top 20px
                    .image
                        width 25%
                        height auto
                        img
                            width 100%
                            height auto
                    .text
                        width 75%
                        padding-left 15px
                        a
                            color #FFF
                            font-size 1rem
                            text-decoration none
                            line-height 1.3
                            display block
                            margin-bottom 15px
                        p
                            font-size .9rem
                            color rgb(52,144,220)
                            margin 0
                            line-height 1.3
            .slick-arrow
                &:before
                    font-size 20px
            .slick-next
                right -1px
                z-index 9
            .slick-prev
                left -1px
                z-index 9
    
    .footer
        background rgb(8,54,145)
        background -moz-linear-gradient(0deg, rgba(8,54,145,1) 0%, rgba(0,2,15,1) 91%)
        background -webkit-linear-gradient(0deg, rgba(8,54,145,1) 0%, rgba(0,2,15,1) 91%)
        background linear-gradient(0deg, rgba(8,54,145,1) 0%, rgba(0,2,15,1) 91%)
        //filter progid:DXImageTransform.Microsoft.gradient(startColorstr="#083691",endColorstr="#00020f",GradientType=1)
        padding 20px 0 30px
        .content_left
            display flex
            justify-content center
            align-items center
            img
                height 150px
                width auto
        .content_right
            .links
                display flex
                flex-wrap wrap
                justify-content center
                a
                    font-size .9rem
                    font-family font-light
                    text-decoration none
                    color #FFF
                    margin-bottom 10px
                .separator
                    font-size 1rem
                    font-family font-light
                    text-decoration none
                    color #FFF
                    padding 0 20px
                hr
                    width 100%
                    color #fff
                    opacity 1
                    margin 25px 0
            .social
                display flex
                flex-wrap wrap
                justify-content center
                a
                    text-decoration none
                    padding 0 10px
                    img
                        width 22px
                        height auto

    